---
import { VisualEditing } from "@sanity/astro/visual-editing";
import {
  SANITY_API_READ_TOKEN,
  PUBLIC_SANITY_VISUAL_EDITING_ENABLED,
} from "astro:env/server";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
    {
      SANITY_API_READ_TOKEN && PUBLIC_SANITY_VISUAL_EDITING_ENABLED && (
        <VisualEditing enabled />
      )
    }
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
